$black: rgba(33, 33, 33, 0.4);
$text-black: rgba(33, 33, 33, 0.8);

#footer {
    .row {
        padding-bottom: 10px;
        background-color: #FFFBFB;
        border-top: 1px solid $black;

        .copy-text {
            color: $text-black;
            font-size: .8em;
        }

        .footer-full-tosun{
            width: 50px;
            height: 50px;
        }
    }

    
}