#AboutTosun {
    .promo-row {
        font-family: 'Lato', sans-serif;
    }
    .promo-tosun-logo {
        width: 300px;
        height: 300px;
    }
}

#WhatWeDo {
    font-family: 'Lato', sans-serif;
}